<div class="mt-5 pt-1">
    {{> Logo}}
</div>
<div class="container my-auto" style="height: 83vh;">
    <div class="text-center">
        <img src="/uploads/admin-logo.jpg" height="200px" width="200px">
    </div>

    <div class="mb-3 py-3 text-center">
        <h4 class="text-muted"><b>Welcome</b></h4>
    </div>


    <div class="question-row row text-center">
        <div class="col-12">
            <button style="border-radius: 8px;" class="my-btn btn-secondary px-3"><a class="text-white"
                    style="font-size: 20px; text-decoration: none;" href="/admin/dashboard"><b>Access
                        Dashboard</b></a></button>
        </div>

    </div>

</div>