<!-- Copyright Section-->
<section>
    <div class="bg-info bg-danger py-2 text-center text-white">
        <div class="container py-auto">
            <p class="py-auto">Copyright &copy; 2021. All Right Reserved, Built by <span class="text-light"><b>TeeSide
                    </b> <i class="fas fa-star text-primary pl-1"></i> &<b> Yoyoplenty</b></span><i
                    class="fas fa-star text-primary pl-1"></i>
            </p>
        </div>
    </div>
</section>