<nav class="navbar navbar-light mt-3">
  <div class="container" style="height: 6vh;">
    <a class="navbar-brand" href="/">
      <img src="/uploads/logo.jpg" alt="OAUSTECH Logo" width="70px" height="70px">
    </a>
  </div>
</nav>