<nav class="navbar navbar-light mt-3">
  <div class="container" style="height: 8vh;">
    <a class="navbar-brand" href="./homepage.html">
      <img src="/uploads/logo.jpg" alt="OAUSTECH Logo" width="80px" height="80px">
    </a>
  </div>
</nav>