<section id="banner-desktop" class="d-none d-sm-block">
    <div class="container" style="height: 80vh;">
        <div class="row1">
            <div class="col-md-12">
                <h1 class="text-center">Welcome</h1>
                <p class="text-center">Please Select an option below</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <button class="my-btn btn-danger"><a class="d-block w-100 h-100" href="/student/signup">
                        Registration</a></button>
            </div>

            <div class="col-md-6">
                <button class="my-btn btn-danger"><a class="d-block w-100 h-100"
                        href="/student/login">Login</a></button>
            </div>

        </div>

    </div>
</section>